@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Scrollbar
*/

/* Estilo base del scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  background-color: #f5f5f5; /* Color de fondo del scrollbar */
}

/* Estilo del thumb (la barra que se mueve) */
::-webkit-scrollbar-thumb {
  background-color: #FF9A1F; /* Color del thumb */
}

/* Estilo del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Color del thumb al pasar el mouse */
}

/* Estilo del track (la parte del scrollbar que no se mueve) */
::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color del track */
}

@font-face {
  font-family: "Cagliostro";
  src: url("../src/assets/fonts/Cagliostro-Regular.ttf");
}

@font-face {
  font-family: "Georama";
  src: url("../src/assets/fonts/Georama-Regular.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../src/assets/fonts/Inter-Medium.ttf");
}
/*  *{
  box-sizing: border-box;
 outline:3px solid limegreen !important; 
}   */
